.formulaire{
  background-color: silver;
  width: 60%;
}
.formulaire_contact{
/* flex-direction: row;
justify-content: center;
flex-wrap: wrap; */
}
.formulaire h1{
  font-size: 2rem;
  font-weight: bold;
  display: block;
  text-align: center;
}
.formulaire label{
  font-weight: bold;
  margin: 10px 0 10px 20px;
}
.element_formulaire{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
